.appDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* height: 100vh; */
}
.topBar {
    background-color: darkcyan;
    border: 5px solid darkcyan;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 0px;
    height: 40px;
    font-size: 30px;
}

.appArea {
    text-align: center;
    /* height: 100%; */
}

.controlArea {
    height: auto;
}

.eqTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.eqBox {
    margin: 8px auto 8px;
}
.invalidInput {
    background-color: lightcoral;
}
.validInput {
    background-color: lightgreen;
}
.axisInput {
    margin: auto;
    padding: 0px 4px 0px 4px;
}

input[type='number'] {
    width: 10%;
}

.PlotArea {
    width: 75%;
    /* height: calc(100vh - 80px); */
    margin-left: auto;
    margin-right: auto;
}
